<html>
  <head>
    <title>
      Demo Socket IO
    </title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
      // gọi điện lên sever
      const socket = io('http://localhost:8080');
      //  gọi điện lên sever
    </script>
  </head>
</html>
